   .historyBodyStyle {
    fontSize: 15px;
    padding: 0px 0px 12px;
    text-overflow:ellipsis;
    background-color:black;
    color:white;
  }

  .historyBodyStyle:hover{
    fontSize: 15px;
    padding: 0px 0px 12px;
    background-color:lightgray;
    color: white;
    text-overflow:ellipsis;
  }